* {
  box-sizing: border-box;
}

html {
  /* color: var(--clr-txt-base);
  background-color: var(--clr-primary--1); */
}



body {
  background-color: rgb(107, 226, 153);
  margin: 0;
}


header {
  margin: 0;
}