* {
  box-sizing: border-box;
}

body {
  text-align: center;
}


.img-test-container {
  width: 100%;
  height: 80vh;
  border: 5px solid gray;
  /* background-color: red; */
}

img {
  width: 7rem;

}