* {
  box-sizing: border-box;
}


/* body {
  text-align: center;
} */

header {
  text-align: center;

}

.img-test-container {
  width: 100vw;
  height: 80vh;
  border: 5px solid gray;
}

img {
  width: 15rem;

}