.main-layout {
    display: grid;
    grid-template-columns:
        2.7rem minmax(auto, 1fr) 2.7rem;

    >*:not(.full) {
        grid-column: 2;
    }

    >.full {
        grid-column: 1 / -1;
    }

}