.main-layout {
    display: grid;
    grid-template-columns:
        3.1rem minmax(auto, 1fr) 3.1rem;

    >*:not(.full) {
        grid-column: 2;
    }

    >.full {
        grid-column: 1 / -1;
    }

}