.canvas-container {
  position: relative;
  display: grid;
  justify-content: center;
  /* width: 80vw;
  height: 60vh;
  margin: .5em auto;
  background-color: rgb(204, 28, 28);
  border: 2px solid blue; */

  display: block;
  background-color: grey;



}


.canvas-container canvas {
  display: block;
  position: relative;
  width: 80%;
  margin: auto;
  outline: 1px solid green;
  /* display: block; */
  /* background-color: white; */



}


.text-box {
  position: absolute;
  top: 8%;
  height: 10%;
  width: 80%;
  justify-self: center;
  left: 10%;
  right: 10%;
  /* font-size: 2rem; */
  text-align: center;
  color: red;
  background-color: rgb(176, 22, 190);
  border: 3px solid orange;
}