.canvas-container {
  position: relative;
  display: block;

  width: 50vw;
  height: 60vh;
  /* margin: .5em auto; */
  margin-block-start: 10em;
  margin-inline-start: 5em;
  border: 2px solid blue;

  background-color: grey;

  canvas {
    display: block;
    position: relative;
    background-color: pink;
    margin: auto;
    outline: 1px solid green;
    /* background-color: white; */
  }

  label[for="text-color"] {
    position: absolute;
    right: -50%;
  }

  a {
    position: absolute;
    top: -5em;

  }
}




.text-box {
  z-index: 10;
  position: absolute;


  top: 8%;
  height: 10%;
  width: 60%;
  right: -70%;

  /* top: 8%;
  height: 10%;
  width: 90%;
  left: 5%;
  right: 5%; */


  background-color: transparent;

  font-size: 4em;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  color: black;
  border: 3px solid orange;
}


.text-box::placeholder {
  font-size: 4rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  opacity: 0.7;
  /* remove the default fade effect */
  color: gray;


}