.canvas-container {
  position: relative;
  display: block;

  width: 80vw;
  height: 60vh;
  margin: .5em auto;
  border: 2px solid blue;

  background-color: grey;



}


.canvas-container canvas {
  display: block;
  position: relative;
  background-color: pink;
  margin: auto;
  outline: 1px solid green;
  /* background-color: white; */



}


.text-box {
  position: absolute;
  top: 8%;
  height: 10%;
  width: 90%;
  left: 5%;
  right: 5%;
  /* font-size: 2rem; */
  text-align: center;
  color: red;
  background-color: transparent;
  border: 3px solid orange;
  z-index: 10;
}