.canvas-container {
  width: 50vw;
  height: 60vh;
  /* margin: .5em auto; */
  margin-block-start: 10em;
  margin-inline-start: 5em;
  border: 2px solid blue;

  background-color: grey;

  canvas {
    display: block;
    position: relative;
    background-color: pink;
    margin: auto;
    outline: 1px solid green;
    /* background-color: white; */
  }
}



.text-box {

  background-color: transparent;

  font-size: 4em;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  color: black;

  &:hover {

    border: 3px solid orange;
  }
}


.text-box::placeholder {
  font-size: 4rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  opacity: 0.7;
  /* remove the default fade effect */
  color: gray;
}