.image-gallery {

    display: grid;
    gap: 0.86rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    img {
        cursor: pointer;
        border: 1.5px solid rgb(59, 117, 32);
        max-width: 100%;

        &:hover {
            border-color: orange;
        }

    }

}