/* SETUP */
@import url('/styles/setup/vars.css');
@import url('/styles/setup/typography.css');

/* BASICS */
@import url('/styles/basics/base.css');
@import url('/styles/basics/layout.css');
@import url('/styles/basics/helpers.css');

/* COMPONENTS */
@import url('/styles/components/canvas.css');
@import url('/styles/components/image-gallery.css');
@import url('/styles/components/main-header.css');
/* @import url('/styles/components/main-nav.css'); */
@import url('/styles/components/main-footer.css');





/* MQ */
@import url('/styles/setup/mq.css');